/* You can add global styles to this file, and also import other style files */
@import './assets/bootstrap-5.2.3-dist/css/bootstrap.min.css';


.app-background {
  background-image: url(./assets/images/urbanCourtBW.png) no-repeat center center fixed; 
  background:linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%,  rgba(0, 0, 0, 0.8) 50%), url(./assets/images/urbanCourtBW.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}