<div class="container-fluid">
	<div class="col-8 offset-2 mt-5">
		<div class="card">
		  <div class="card-header">
		    <h4>{{title}}</h4>
		  </div>
		  <div class="card-body">
		    <h5 class="card-title">Herren I</h5>
		    <p class="card-text">Get the <span class="fw-bolder">'H I'</span> full game shedule.</p>
		    <a routerLink="/all-games" class="btn btn-info">show all games</a>
		    
		    <div class="mt-4">
        <router-outlet></router-outlet>
		    </div>
		  </div>
		</div>
	</div>
</div>